#alltop ul {
   display: flex;
   flex-wrap: wrap;
   padding: 20px 0;
   margin-bottom: 0;
   align-items: center;
   list-style: none;
}
#alltop ul li {
   font-size: 16px;
   font-weight: 700;
   color: #939393;
   margin: 5px 40px 5px 0;
   position: relative;
}
#alltop ul li a {
   font-size: 16px;
   font-weight: 700;
   color: #939393;
   position: relative;
}
#alltop ul li:before {
   bottom: 7px;
   transform: rotate(-45deg);
}
#alltop ul li:after {
   top: 9px;
   transform: rotate(45deg);
}
#alltop li:after, #alltop ul li:before {
   content: "";
   position: absolute;
   width: 10px;
   border: 1px solid #939393;
   right: -25px;
}
#alltop ul li:last-child:after, ul li:last-child:before {
   border: none !important;
}
#alltop .price button {
   width: 40%;
   line-height: 18px;
   background: #ff023c;
   margin-left: 1rem;
   color: #fff;
   font-weight: 500;
   border: none;
   padding: 10px 0px;
   border-radius: 5px;
}
#alltop .img-div img {
   background: white;
}
